<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="AopUserServiceImpl" class="com.marvin.aop.AopUserServiceImpl"/>
    <bean class="com.marvin.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
    <bean id="beforeAdvice" class="com.marvin.aop.UserServiceBeforeAdvice"/>
    <bean id="methodInterceptor" class="com.marvin.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>
    <bean id="pointcutAdvisor" class="com.marvin.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.marvin.aop.AopUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>